
header {
  font-size: 32px;
}

main {
  justify-content: center;
  margin: 15px;
	padding: 20px;

}

main h2 {
  font-size: 28px;
  
}


section {
  margin: 10px;
  width: 400px;
  display: inline-flex;

}

fieldset {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 90%;
  height: 100%;
  display: block;
  text-align: center;
}

table th {
  border: 1px solid black;
  padding: 10px;
}

table tr td {
  border: 1px solid black;
  padding: 8px;
}

table tr:nth-child(odd) {
  background: lightgray;
}

/* taken from https://www.codepel.com/vanilla-javascript/javascript-create-table-from-array/ for readibility */